@charset "utf-8";
/* CSS Document */

.solidblockmenu select { color: #333333; }

.solidblockmenu select option { background: #ffffff; }

a.playerstart       { background-image: url("333333/player_start.png"); }

a.playerstop        { background-image: url("333333/player_stop.png"); }

a.playerrewind      { background-image: url("333333/player_rewind.png"); }

a.playerforward     { background-image: url("333333/player_forward.png"); }

a.playerclear       { background-image: url("333333/player_clear.png"); }
 
a.playershuffle     { background-image: url("333333/player_shuffle.png"); }

a.playerrepeaton    { background-image: url("333333/player_repeaton.png"); }

a.playerrepeatoff   { background-image: url("333333/player_repeatoff.png"); }

a.playerundo        { background-image: url("333333/player_undo.png"); }

a.playersettings    { background-image: url("333333/player_settings.png"); }

a.playerload        { background-image: url("333333/player_load.png"); }

a.playersave        { background-image: url("333333/player_save.png"); }

a.playersorttrack   { background-image: url("333333/player_sorttrack.png"); }

a.playersortalbum   { background-image: url("333333/player_sortalbum.png"); }

a.playersortartist  { background-image: url("333333/player_sortartist.png"); }

a.playerselectall   { background-image: url("333333/player_selectall.png"); }

a.playerselectnone  { background-image: url("333333/player_selectnone.png"); }

a.playerremove      { background-image: url("333333/player_remove.png"); }
 
a.playerappend      { background-image: url("333333/player_append.png"); }

a.playerdownload    { background-image: url("333333/player_download.png"); }

a.playershare       { background-image: url("333333/player_share.png"); }