@charset "utf-8";
/* CSS Document */

.solidblockmenu     { background-image: url("456993/player_back.png"); }

.playerleftround    { background-image: url("456993/player_leftround.png"); }

.playerrightround   { background-image: url("456993/player_rightround.png"); }