@charset "utf-8";
/* CSS Document */

.solidblockmenu     { background-image: url("8a8a8a/player_back.png"); }

.playerleftround    { background-image: url("8a8a8a/player_leftround.png"); }

.playerrightround   { background-image: url("8a8a8a/player_rightround.png"); }