/*
 * CSS styleshet for the "HD-1080" theme.
 *
 * Author: Sindre Mehus
 */
@import "midnight.css";
@import "playermod/fg/cfd1d6.css";
@import "playermod/bg/000843.css";

/*
 * Background colors
 */

    .bgcolor1 {
    /* Primary background color. (lightgray) */
        background-color: #000843;
    }

    .bgcolor2, .ruleTableHeader, .log {
    /* Secondary background color. (darker blue) */
        background-color: #00042E
    }

/*
 * Border settings for main frames
 */

    .mainframe {
    /* Main frame border style */
        background-image:url('../icons/hd/background.png');
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-color: #00042E
    }

/*
 * Miscellaneous style settings and helpers
 */

    body {
    /* Primary foreground (font) color. (black) */
        color: #CFD1D6;
        font-size: 14pt;

    /* Scrollbar colors (supported on IE and Opera) */
        scrollbar-face-color: #00042E;
        scrollbar-highlight-color: #000843;
        scrollbar-shadow-color: #00042E;
        scrollbar-3dlight-color: #00042E;
        scrollbar-arrow-color: #000843;
        scrollbar-track-color: #000843;
        scrollbar-darkshadow-color: #000843;
    }

    a:link, a:active, a:visited, a:link *, a:active *, a:visited * {
    /* Link color */
        color: #97D9FF
    }

    a:hover, a:hover * {
    /* Link hover style */
        color: orange;
    }

    h1, .detail, .albumComment {
    /* Secondary foreground color for h1, details etc. (gray) */
        color: #CFD1D6;
    }

    h2, b, tr {
    /* Foreground color for h2, bold and tr. */
        color: #CFD1D6;
    }

    .albumComment {
        font-size: 12pt;
    }

    .detail {
    /* Detail font style */
        font-size: 12pt;
    }

    .headerSelected {
    /* Background color for selected header. */
        background-color: #CFD1D6;
    }

    .log {
    /* Log file font size */
        font-size: 12pt;
    }