/*
 * CSS styleshet for the "High Contast" theme.
 *
 * Author: Jeebs (Fisher Evans)
 */
@import "default.css";

/*
 * Background colors
 */

    .bgcolor1 {
    /* Primary background color. (lightgray) */
        background-color: white;
    }

    .bgcolor2, .ruleTableHeader, .log {
    /* Secondary background color. (darker blue) */
        background-color: white;
    }

/*
 * Border settings for main frames
 */

    /*
     * Border settings for other targets
     */

        .border1, .ruleTableHeader, .ruleTableCell, .headerSelected, .log {
        /* Simple dark border. */
            border: 1px solid #5c5c5c;
        }

/*
 * Miscellaneous style settings and helpers
 */

    body {
    /* Primary foreground (font) color. (black) */
        color: #5c5c5c;

    /* Scrollbar colors (supported on IE and Opera) */
        scrollbar-face-color: white;
        scrollbar-highlight-color: #5c5c5c;
        scrollbar-shadow-color: white;
        scrollbar-3dlight-color: white;
        scrollbar-arrow-color: #5c5c5c;
        scrollbar-track-color: #5c5c5c;
        scrollbar-darkshadow-color: #5c5c5c;
    }

    a:link, a:active, a:visited, a:link *, a:active *, a:visited * {
    /* Link color */
        color: #000000;
    }

    a:hover, a:hover * {
    /* Link hover style */
        text-decoration: underline;
        color: #5c5c5c;
    }

    h1, .detail, .albumComment {
    /* Secondary foreground color for h1, details etc. (gray) */
        color: #5c5c5c;
    }

    h2, b, tr {
    /* Foreground color for h2, bold and tr. */
        color: #5c5c5c;
    }

    .headerSelected {
    /* Background color for selected header. */
        color: #5c5c5c;
        background-color: white;
    }

/*
 * Main frame menu images
 */

    .back {
        background-image: url("../icons/midnight/back.png");
    }

    .forward {
        background-image: url("../icons/midnight/forward.png");
    }