/*
 * CSS styleshet for the "High Contast (Inverted)" theme.
 *
 * Author: Jeebs (Fisher Evans)
 */
@import "default.css";
@import "accordion/darkness.css";
@import "playermod/fg/a3a3a3.css";
@import "playermod/bg/000000.css";

/*
 * Background colors
 */

    .bgcolor1 {
    /* Primary background color. (lightgray) */
        background-color: black;
    }

    .bgcolor2, .ruleTableHeader, .log {
    /* Secondary background color. (darker blue) */
        background-color: black;
    }

/*
 * Border settings for main frames
 */

    /*
     * Border settings for other targets
     */

        .border1, .ruleTableHeader, .ruleTableCell, .headerSelected, .log {
        /* Simple dark border. */
        border: 1px solid #a3a3a3;
        }

/*
 * Miscellaneous style settings and helpers
 */

    body {
    /* Primary foreground (font) color. (black) */
        color: #a3a3a3;

    /* Scrollbar colors (supported on IE and Opera) */
        scrollbar-face-color: black;
        scrollbar-highlight-color: #a3a3a3;
        scrollbar-shadow-color: black;
        scrollbar-3dlight-color: black;
        scrollbar-arrow-color: #a3a3a3;
        scrollbar-track-color: #a3a3a3;
        scrollbar-darkshadow-color: #a3a3a3;
    }

    a:link, a:active, a:visited, a:link *, a:active *, a:visited * {
    /* Link color */
        color: white
    }

    a:hover, a:hover * {
    /* Link hover style */
        text-decoration: underline;
        color: #a3a3a3;
    }

    h1, .detail, .albumComment {
    /* Secondary foreground color for h1, details etc. (gray) */
        color: #a3a3a3;
    }

    h2, b, tr {
    /* Foreground color for h2, bold and tr. */
        color: #a3a3a3;
    }

    .headerSelected {
    /* Background color for selected header. */
        color: #a3a3a3;
        background-color: black;
    }

/*
 * Main frame menu images
 */

    .back {
        background-image: url("../icons/midnight/back.png");
    }

    .forward {
        background-image: url("../icons/midnight/forward.png");
    }

/*
 * Player style
 */

    .solidblockmenu li a:hover, .solidblockmenu li .current {
    /* Player control hover style */
        background-color: #ffffff;
    }

    .solidblockmenu select:hover {
    /* Player select hover style */
        background-color: #ffffff;
    }