/*
 * CSS styleshet for the "High Tech" theme.
 *
 * Author: Jeebs (Fisher Evans)
 */
@import "default.css";
@import "accordion/lefrog.css";
@import "playermod/fg/d2f1d5.css";
@import "playermod/bg/090a09.css";

/*
 * Background colors
 */

    .bgcolor1 {
    /* Primary background color. (lightgray) */
        background-color: #090a09;
    }

    .bgcolor2, .ruleTableHeader, .log {
    /* Secondary background color. (darker blue) */
        background-color: #090a09;
        background-image:url("../icons/hitech/bg_dn.png");
    }

/*
 * Border settings for main frames
 */

    .mainframe {
    /* Main frame border style */
        background-image:url( "../icons/hitech/bg_dn.png" );
        background-repeat:repeat;
        background-attachment:fixed;
        background-position:top left;
    }

    /*
     * Border settings for other targets
     */
 
        .border1, .ruleTableHeader, .ruleTableCell, .headerSelected, .log {
        /* Simple dark border. */
            border: 1px solid #272727;
        }

/*
 * Miscellaneous style settings and helpers
 */

    body {
    /* Primary foreground (font) color. (black) */
        color: #d2f1d5;
        background-image:url("../icons/hitech/bg_dn.png");

    /* Scrollbar colors (supported on IE and Opera) */
        scrollbar-face-color: #253126;
        scrollbar-highlight-color: #00c52c;
        scrollbar-shadow-color: #253126;
        scrollbar-3dlight-color: #253126;
        scrollbar-arrow-color: #00c52c;
        scrollbar-track-color: #00c52c;
        scrollbar-darkshadow-color: #00c52c;
    }

    a:link, a:active, a:visited, a:link *, a:active *, a:visited * {
    /* Link color */
        color: #00d61b;
    }

    a:hover, a:hover * {
    /* Link hover style */
        text-decoration: underline;
        color: #ffffff;
    }

    h1, .detail, .albumComment {
    /* Secondary foreground color for h1, details etc. (gray) */
        color: #d2f1d5;
    }

    h2, b, tr {
    /* Foreground color for h2, bold and tr. */
        color: #d2f1d5;
    }

    .headerSelected {
    /* Background color for selected header. */
        color: #d2f1d5;
        background-color: #090a09;
    }

    .warning {
    /* Color for warning messages. */
        color: white;
    }

/*
 * Main frame menu images
 */

    .back {
        background-image: url("../icons/midnight/back.png");
    }

    .forward {
        background-image: url("../icons/midnight/forward.png");
    }

/*
 * Player style
 */

    .solidblockmenu li a:hover, .solidblockmenu li .current {
    /* Player control hover style */
        background-color: #00d61b;
    }

    .solidblockmenu select:hover {
    /* Player select hover style */
        background-color: #00d61b;
    }