/*
 * CSS styleshet for the "2 Minutes To Midnight" theme.
 *
 * Author: Sindre Mehus
 */
@import "default.css";
 
/*
 * Background colors
 */

    .bgcolor1 {
    /* Primary background color. (lightgray) */
        background-color: #777;
    }

    .bgcolor2, .ruleTableHeader, .log {
    /* Secondary background color. (darker blue) */
        background-color: #4D4C52
    }

    /*
     * Border settings for other targets
     */

        .border1, .ruleTableHeader, .ruleTableCell, .headerSelected, .log {
        /* Simple white border. */
            border: 1px solid white;
            background-color: #656569;
        }

/*
 * Miscellaneous style settings and helpers
 */

    body {
    /* Primary foreground (font) color. (black) */
        color: #ddd;

    /* Scrollbar colors (supported on IE and Opera) */
        scrollbar-face-color: #4D4C52;
        scrollbar-highlight-color: #656569;
        scrollbar-shadow-color: #4D4C52;
        scrollbar-3dlight-color: #4D4C52;
        scrollbar-arrow-color: #656569;
        scrollbar-track-color: #656569;
        scrollbar-darkshadow-color: #656569;
    }
    
    body, .ui-button {
        font-size: 9pt;
    }

    body, h2, form, label, table, a {
    /* Font 1 */
    }

    a:link, a:active, a:visited, a:link *, a:active *, a:visited * {
    /* Link color */
        color: #ddd
    }

    a:hover, a:hover * {
    /* Link hover style */
        color: #F90;
    }

    h1, .detail, .albumComment {
    /* Secondary foreground color for h1, details etc. (gray) */
        color: #ddd;
    }

    h2, b, tr {
    /* Foreground color for h2, bold and tr. */
    }
    
    option {
        color: #ddd;
        background-color: #4D4C52;
    }

    .headerSelected {
    /* Background color for selected header. */
        color: black;
        background-color: #ddd;
    }

    .warning {
    /* Color for warning messages. */
        color: #F90;
    }

/*
 * Main frame menu images
 */

    .back {
        background-image: url("../icons/midnight/back.png");
    }

    .forward {
        background-image: url("../icons/midnight/forward.png");
    }