/*
 * CSS styleshet for the "2 Minutes To Midnight" theme.
 *
 * Author: Sindre Mehus
 */
@import "default.css";
@import "accordion/darkness.css";
@import "playermod/fg/cccccc.css";
@import "playermod/bg/656569.css";
 
/*
 * Background colors
 */

    .bgcolor1 {
    /* Primary background color. (lightgray) */
		background-color: #656569;
    }

    .bgcolor2, .ruleTableHeader, .log {
    /* Secondary background color. (darker blue) */
		background-color: #4D4C52
    }

    /*
     * Border settings for other targets
     */

        .border1, .ruleTableHeader, .ruleTableCell, .headerSelected, .log {
        /* Simple white border. */
			border: 1px solid white;
        }

/*
 * Miscellaneous style settings and helpers
 */

    body {
    /* Primary foreground (font) color. (black) */
        color: #DDDDDD;

    /* Scrollbar colors (supported on IE and Opera) */
		scrollbar-face-color: #4D4C52;
		scrollbar-highlight-color: #656569;
		scrollbar-shadow-color: #4D4C52;
		scrollbar-3dlight-color: #4D4C52;
		scrollbar-arrow-color: #656569;
		scrollbar-track-color: #656569;
		scrollbar-darkshadow-color: #656569;
    }

    body, h2, form, label, table, a {
    /* Font 1 */
		color: #DDDDDD;
    }

    a:link, a:active, a:visited, a:link *, a:active *, a:visited * {
    /* Link color */
        color: #BAD9F2
    }

    a:hover, a:hover * {
    /* Link hover style */
        text-decoration: underline;
        color: #F90;
    }

    h1, .detail, .albumComment {
    /* Secondary foreground color for h1, details etc. (gray) */
		color: #DDDDDD;
    }

    h2, b, tr {
    /* Foreground color for h2, bold and tr. */
        color: #DDDDDD;
    }

    .headerSelected {
    /* Background color for selected header. */
		color: black;
		background-color: #DDDDDD;
    }

    .warning {
    /* Color for warning messages. */
		color: #F90;
    }

/*
 * Main frame menu images
 */

    .back {
        background-image: url("../icons/midnight/back.png");
    }

    .forward {
        background-image: url("../icons/midnight/forward.png");
    }