/*
 * CSS styleshet for the http://www.midnightfun.co.uk "MidnightFun" theme.
 *
 * Author: Don Pearson
 */
@import "default.css";

.ruleTableHeader, .ruleTableCell {
/* The help, status & web player settings tables. */
    margin: 5px;
    padding: 5px;
    background-image:url('../icons/midnightfun/midnightfun_table.jpg');
    background-repeat:repeat;
    background-attachment:fixed;
    color: #FFFFFF;
    background-color: #C0C0C0;
}

/*
 * Background colors
 */

    .bgcolor1 {
    /* Primary background color. (lightgray) */
        background-image:url('../icons/midnightfun/midnightfun_text_back.jpg');
        background-repeat:repeat;
        background-color: #AAAAAA;
    }

    .bgcolor2, .ruleTableHeader, .log {
    /* Secondary background color. (darker blue) */
        background-image:url('../icons/midnightfun/midnightfun_background.gif');
        background-repeat:repeat;
        background-attachment:fixed;
        background-color: #C0C0C0;
    }

/*
 * Border settings for main frames
 */

    .mainframe, .rightframe {
    /* Main frame border style */
        background-image:url('../icons/midnightfun/midnightfun_background.gif');
        background-repeat:repeat;
        background-attachment:fixed;
        background-color: #C0C0C0;
    }

/*
 * Miscellaneous style settings and helpers
 */

    body {
    /* Primary foreground (font) color. (black) */
        background-color: #C0C0C0;

    /* Scrollbar colors (supported on IE and Opera) */
        scrollbar-face-color: #CCCCCC;
        scrollbar-highlight-color: #FFFFFF;
        scrollbar-shadow-color: #CCCCCC;
        scrollbar-3dlight-color: #D1D7DC;
        scrollbar-arrow-color: #000000;
        scrollbar-track-color: #C0C0C0;
        scrollbar-darkshadow-color: #98AAB1;
    }

    a:link, a:active, a:visited, a:link *, a:active *, a:visited * {
    /* Link color */
        color: #656569;
    }

    a:hover, a:hover * {
    /* Link hover style */
        text-decoration: underline;
        color: #000000;
    }

    h1, .detail, .albumComment {
    /* Secondary foreground color for h1, details etc. (gray) */
        color: #333333;
    }

    h2, b, tr {
    /* Foreground color for h2, bold and tr. */
        color: #000000;
    }

    input, select, textarea {
    /* Input form control font style */
        background-image:url('../icons/midnightfun/midnightfun_form_controls.jpg');
        background-repeat:repeat;
        background-color: #AAAAAA;
        color: #FFFFFF;
    }

    input:hover, select:hover {
    /* Form control hover color. (default) */
        background-image:url('../icons/midnightfun/midnightfun_form_controls_hover.jpg');
        background-repeat:repeat;
        background-color: #C0C0C0;
        color: #000000;
    }

    .headerSelected {
    /* Background color for selected header. */
        background-image:url('../icons/midnightfun/midnightfun_home_hover.jpg');
        background-repeat:repeat;
        background-color: #C0C0C0;
        color: #000000;
    }

    .warning {
    /* Color for warning messages. */
        color: #990099;
    }

    .log {
    /* Log file font size */
        font-weight: bold;
        background-image:url('../icons/midnightfun/midnightfun_table.jpg');
        background-repeat:repeat;
        background-color: #C0C0C0;
        color: #000000;
    }

    .logo {
        margin-top: 15px;
    }

/*
 * Main frame menu images
 */

    .back .ui-icon {
        background-image: url("../icons/midnightfun/back.png");
    }

    .forward .ui-icon {
        background-image: url("../icons/midnightfun/forward.png");
    }

    .refresh .ui-icon {
        background-image: url("../icons/midnightfun/refresh.png");
    }

    .download .ui-icon {
        background-image: url("../icons/midnightfun/download.png");
    }

    .delete .ui-icon {
        background-image: url("../icons/midnightfun/remove.png");
    }

    .up .ui-icon {
        background-image: url("../icons/midnightfun/up.png");
    }

    .down .ui-icon {
        background-image: url("../icons/midnightfun/down.png");
    }

    .addFromURI .ui-icon {
        background-image: url("../icons/midnightfun/add.png");
    }

    .logfile .ui-icon {
        background-image: url("../icons/midnightfun/log_small.png");
    }