/*
 * CSS styleshet for monochrome style
 *
 * Author: David D ddavis1@gmail.com
 */
@import "default.css";

.ruleTableHeader, .ruleTableCell {
/* The help, status & web player settings tables. */
    margin: 5px;
    padding: 5px;
    color: #fff;
    background-color: #444;
}

/*
 * Background colors
 */

    .bgcolor1 {
    /* Primary background color. (lightgray) */
        background-color: #222;
    }

    .bgcolor2, .ruleTableHeader, .log {
    /* Secondary background color. (darker blue) */
        background-color: #000;
    }

/*
 * Border settings for main frames
 */

    .mainframe, .rightframe {
    /* Main frame border style */
        background-color: #222;
    }

/*
 * Miscellaneous style settings and helpers
 */

    body {
    /* Primary foreground (font) color. (black) */
        color: #fff;
    }

    a:link, a:active, a:visited, a:link *, a:active *, a:visited * {
    /* Link color */
        color: #fff;
    }

    a:hover, a:hover * {
    /* Link hover style */
        color: #fff;
    }

    h1, .detail, .albumComment {
    /* Secondary foreground color for h1, details etc. (gray) */
        color: #fff;
    }

    h2, b, tr {
    /* Foreground color for h2, bold and tr. */
        color: #fff;
    }

    input, select, textarea {
    /* Input form control font style */
        color: #fff;
    }
	
	select option {
		background-color: #222;
	}

    .headerSelected {
    /* Background color for selected header. */
        color: #fff;
        background-color: #333;
    }

    .warning {
    /* Color for warning messages. */
        color: #990099;
    }

    .log {
    /* Log file font size */
        color: #000;
        background-color: #444;
    }

/*
 * Player style
 */

    .solidblockmenu li a:hover, .solidblockmenu li .current {
    /* Player control hover style */
        background-color: #fff;
    }

    .solidblockmenu select:hover {
    /* Player select hover style */
        background-color: #fff;
    }