/*
 * CSS styleshet for monochrome style
 *
 * Author: David D ddavis1@gmail.com
 */
@import "default.css";

/*
 * Background colors
 */

    .bgcolor1 {
    /* Primary background color. (lightgray) */
        background-color: #EEE;
    }

    .bgcolor2, .ruleTableHeader, .log {
    /* Secondary background color. (darker blue) */
        background-color: #CCC;
    }

/*
 * Border settings for main frames
 */

    .mainframe, .rightframe {
    /* Main frame border style */
        background-color: #EEE;
    }

/*
 * Miscellaneous style settings and helpers
 */

    body {
    /* Primary foreground (font) color. (black) */
        background-color: #EEEEEE;
    }

    a:link, a:active, a:visited, a:link *, a:active *, a:visited * {
    /* Link color */
        color: #000000;
    }

    h1, .detail, .albumComment {
    /* Secondary foreground color for h1, details etc. (gray) */
        color: #000000;
    }

    h2, b, tr {
    /* Foreground color for h2, bold and tr. */
        color: #000000;
    }

    input, select, textarea {
    /* Input form control font style */
        color: #333;
    }

    option, #playerSelect option, #moreActions option, #sortActions option {
    /* Background colour for option controls. */
        font-weight: bold;
    }

    input:hover, select:hover {
    /* Form control hover color. (default) */
    }

    .headerSelected {
    /* Background color for selected header. */
        color: #000000;
        background-color: #AAAAAA;
    }

    .warning {
    /* Color for warning messages. */
        color: #990099;
    }

    .log {
    /* Log file font size */
        color: #000000;
        background-color: #C0C0C0;
    }