/*
 * CSS styleshet for monochrome style
 *
 * Author: David D ddavis1@gmail.com
 */
@import "default.css";
@import "accordion/darkness.css";
@import "playermod/fg/cccccc.css";
@import "playermod/bg/333333.css";

.ruleTableHeader, .ruleTableCell {
/* The help, status & web player settings tables. */
    margin: 5px;
    padding: 5px;
    color: #FFFFFF;
    background-color: #C0C0C0;
}

/*
 * Background colors
 */

    .bgcolor1 {
    /* Primary background color. (lightgray) */
        background-color: #222;
    }

    .bgcolor2, .ruleTableHeader, .log {
    /* Secondary background color. (darker blue) */
        background-color: #000000;
    }

/*
 * Border settings for main frames
 */

    .mainframe, .rightframe {
    /* Main frame border style */
        background-color: #222;
    }

/*
 * Miscellaneous style settings and helpers
 */

    body {
    /* Primary foreground (font) color. (black) */
        color: #FFFFFF;
        background-color: #DDDDDD;
    }

    a:link, a:active, a:visited, a:link *, a:active *, a:visited * {
    /* Link color */
        color: #FFFFFF;
    }

    a:hover, a:hover * {
    /* Link hover style */
        text-decoration: underline;
        color: #FFFFFF;
    }

    h1, .detail, .albumComment {
    /* Secondary foreground color for h1, details etc. (gray) */
        color: #FFFFFF;
    }

    h2, b, tr {
    /* Foreground color for h2, bold and tr. */
        color: #FFFFFF;
    }

    input, select, textarea {
    /* Input form control font style */
        color: #000;
        background-color: #EEE;
    }

    option, #playerSelect option, #moreActions option, #sortActions option {
    /* Background colour for option controls. */
        font-weight: bold;
        background-color: #666666;
        color: #FFFFFF;
    }

    input:hover, select:hover {
    /* Form control hover color. (default) */
        color: #000000;
        background-color: #FFF;
    }

    .headerSelected {
    /* Background color for selected header. */
        color: #FFFFFF;
        background-color: #333333;
    }

    .warning {
    /* Color for warning messages. */
        color: #990099;
    }

    .log {
    /* Log file font size */
        font-weight: bold;
        color: #000000;
        background-color: #C0C0C0;
    }

/*
 * Player style
 */

    .solidblockmenu li a:hover, .solidblockmenu li .current {
    /* Player control hover style */
        background-color: #fff;
    }

    .solidblockmenu select:hover {
    /* Player select hover style */
        background-color: #fff;
    }