@import "accordion-outlook_black.css";
@import "niceforms-default2.css";
@import "default.css";
@import "playermod-ffffff.css";
 
/*
 * Stuff that is safe to change
 * has been moved to the top.
 */
 
/*
 * Background colors
 */

	.bgcolor1 {
	/* Primary background color. (lightgray) */
		background-color: #8a8a8a;
	}

	.bgcolor2, .ruleTableHeader, .log {
	/* Secondary background color. (darker blue) */
		background-color: #c2c2c2;
	}

/*
 * Border settings for main frames
 */

	.logonframe {
	/* Logon frame border style */
		border-top: 1px solid #dce2e8;
		border-bottom: none;
		background-image: url("../icons/outlook_black/logonbase.png");
		background-repeat: repeat-x;
		background-position: bottom;
	}

	.topframe {
	/* Top frame border style */
		background-image: url("../icons/outlook_black/top_bar.png");
		background-repeat: repeat-x;
		background-position: top;
	}

	.leftframe {
	/* Left frame border style */
		border-right: 1px solid black;
		border-top: 1px solid black; 
	}

	.mainframe {
	/* Main frame border style */
		border-top: 1px solid black;
		background-color: white;
	}

	.playlistframe {
	/* Playlist frame border style */
		border-top: 1px solid black;
		background-color: #f1f3f5;
	}

	.rightframe {
	/* Right frame border style */
		border-left: 1px solid black;
		border-top: 1px solid black;
		/*background-image:url("../icons/outlook_black/right_bar.png"); background-position:left; background-repeat:repeat-y;*/
	}

	/*
	 * Border settings for other targets
	 */
	 
		#leftframemenucontainer {
			border-bottom: 1px solid black;
		}

		#mainframemenucontainer {
		/* Main frame menu border style */
			border-bottom: 1px solid black;
		}

		#uploadFile, #addPodcast {
			border-bottom: 1px solid black;
		}

		#longbar {
			background-image:url("../icons/outlook_black/long_bar.png");
			border-left: 1px solid #a4abb2;
			border-right: 1px solid #a4abb2;
		}

/*
 * Top image fancy backgrounds
 */
 
	.topimg  { 
		width: 82px; 
		height: 62px; 
		border: 1px solid #8a8a8a;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-o-border-radius: 3px;
		border-radius: 3px;
		background: #bfbfbf; /* Old browsers */
		background: -moz-linear-gradient(top, #bfbfbf 0%, #9c9c9c 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfbfbf), color-stop(100%,#9c9c9c)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #bfbfbf 0%,#9c9c9c 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #bfbfbf 0%,#9c9c9c 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #bfbfbf 0%,#9c9c9c 100%); /* IE10+ */
		background: linear-gradient(top, #bfbfbf 0%,#9c9c9c 100%); /* W3C */
		/* SVG as background image (IE9/Chrome/Safari/Opera) */ 
		background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc1MzciIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNCRkJGQkYiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiM5QzlDOUMiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c1MzcpIiAvPgo8L3N2Zz4=');
	}
	.topimg img:hover {
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-o-border-radius: 3px;
		border-radius: 3px;
		background: #ffd65e; /* Old browsers */
		background: -moz-linear-gradient(top, #ffd65e 0%, #febf04 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd65e), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #ffd65e 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #ffd65e 0%,#febf04 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #ffd65e 0%,#febf04 100%); /* IE10+ */
		background: linear-gradient(top, #ffd65e 0%,#febf04 100%); /* W3C */
		/* SVG as background image (IE9/Chrome/Safari/Opera) */ 
		background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc3NCIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj4KPHN0b3Agc3RvcC1jb2xvcj0iI0ZGRDY1RSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI0ZFQkYwNCIgb2Zmc2V0PSIxIi8+CjwvbGluZWFyR3JhZGllbnQ+CjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZzc0KSIgLz4KPC9zdmc+');
	}

	.topimg img:active{
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-o-border-radius: 3px;
		border-radius: 3px;
		background: #f1e767; /* Old browsers */
		background: -moz-linear-gradient(top, #f1e767 0%, #feb645 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1e767), color-stop(100%,#feb645)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #f1e767 0%,#feb645 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #f1e767 0%,#feb645 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #f1e767 0%,#feb645 100%); /* IE10+ */
		background: linear-gradient(top, #f1e767 0%,#feb645 100%); /* W3C */
		/* SVG as background image (IE9/Chrome/Safari/Opera) */ 
		background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc5NjgiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGMUU3NjciIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGRUI2NDUiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c5NjgpIiAvPgo8L3N2Zz4=');
	}

/*
 * Miscellaneous style settings and helpers
 */

	body {
	/* Primary foreground (font) color. (black) */
		font-size: 9pt;
	}

	a:link, a:active, a:visited, a:link *, a:active *, a:visited * {
	/* Link color */
		color: #333;
	}

	a:hover, a:hover * {
	/* Link hover style */
		text-decoration: none;
		color: #DD6900;
	}

	#pageimage {
	/* Top left image for each page */
		visibility:hidden;
		height: 0px;
		position: absolute;
	}

	#logo img {
	/* Logo image size */
		width: 200px;
		height: 75px;
	}

	.desc {
		display: none;
	}

	.detail {
	/* Detail font style */
		color: #333;
	}

	.headerSelected, .current {
	/* Background color for selected header. */
		color: #333;
		border: 1px solid #c28a30;
		background-color: #ffe575;
	}

	.current{
		font-weight: bold;
	}

/*
 * Main frame menu images
 */

	.back, .forward, .refresh, #upload  {
		background-image: none;
	}

/*
 * Player images
 */

	.solidblockmenu {
		background: black url("../icons/outlook_black/player_back.png") center center repeat;
	}

	.playerleftround, .playerrightround  {
		height: 24px;
		width: 24px;
	}

	.playerleftround {
	/* Left side */
		background-image: url("../icons/outlook_black/player_leftround.png");
	}

	.playerrightround {
	/* Right side */
		background-image: url("../icons/outlook_black/player_rightround.png");
	}

	.solidblockmenu li a:hover, .solidblockmenu li .current {
	/* Player control hover style */
		background-color: #4a4a4a;
	}

	.mainframemenuitem, .forward, .back {
		border: solid 1px #333;
		color: #333;
		background-color:#c2c2c2;	
		padding: 0.2em 0.4em 0.2em 0.4em;
	}
	
	.addFromURI, #downloadSelected, #deleteSelected, #showEpisodes, #hideEpisodes, #minisub {
		padding-left: 16px;
	}
	
	#upload {
		display: none;
	}

	.rightframespacebar {
		background-image: url('../icons/outlook_black/space_bar.png');
		background-repeat: no-repeat;
		background-position: center center;
	}

	.messagecontent {
		background-image: url("../icons/outlook_black/message_arrow.png"); 
		background-position: left; 
		background-repeat: no-repeat; 
		text-indent: 10px; 
		color: white; /* color of left bar titles */
	}

/*
 * Playlist colors
 */

	.tracklist1 { 
		background-color: #F7F7F7;
		color: #1f398e;
	}

	.tracklist2 { 
		background-color: #ebebeb;
		border-top: 1px solid #f1f1f1;
		border-bottom: 1px solid #dce2e8;
		color:#1f398e;
	}
		
	.loadedlist1 { 
		background-color: #ebebeb;
		border: 1px solid #ebebeb;
	}

	.loadedlist1:hover { 	
		background-color:#e3e3e3;
		border: 1px solid black;
	}
			
	.loadedlist2 { 
		background-color: white;
		border: 1px solid white;
	}

	.loadedlist2:hover { 
		background-color: white;
		border: 1px solid #e3e3e3;
	}
 

.DynarchCalendar-dayNames div { color: #444; text-shadow: 1px 1px 1px #777; border-bottom: 1px solid #9199a4; }
.DynarchCalendar-day {color: #333;}
.DynarchCalendar-day-othermonth { color:#9dabab; }
.DynarchCalendar-weekend { color: #333; }
.DynarchCalendar-day-today { color: black; }
.DynarchCalendar-hover-date {border: 1px solid black;color: black;}
.DynarchCalendar-day-selected {border: solid 1px #c95c05 ;color: black}
.DynarchCalendar-day-othermonth.DynarchCalendar-hover-date { border-color: #aaa; color: #9dabab; }
.DynarchCalendar-dayNames .DynarchCalendar-weekend { color: #333; }
.DynarchCalendar-day-othermonth.DynarchCalendar-weekend { color: #9dabab; }
