/*
 * CSS styleshet for the "PinkPanther" theme.
 *
 * Author: Thomas Bruce Dyrud (thomasbrucedyrud[at]gmail.com)
 *
 */
@import "default.css";
@import "accordion/mintchocolate.css";
@import "playermod/fg/cccccc.css";
@import "playermod/bg/402c31.css";

/*
 * Background colors
 */

    .bgcolor1 {
    /* Primary background color. (lightgray) */
        background-color: #402c31;
    }

    .bgcolor2, .ruleTableHeader, .log {
    /* Secondary background color. (darker blue) */
        background-color: #402c31;
        color: #EFE9D9;
    }

/*
 * Border settings for main frames
 */

    .mainframe {
    /* Main frame border style */
        background-color: #402c31;
        background-position:right;
    }

/*
 * Miscellaneous style settings and helpers
 */

    body {
    /* Primary foreground (font) color. (black) */
        color: #EFE9D9;
        background-color: #DDDDDD;
    }

    a:link, a:active, a:visited, a:link *, a:active *, a:visited * {
    /* Link color */
        color: #11bdcb;
    }

    a:hover, a:hover * {
    /* Link hover style */
        text-decoration: underline;
        color: #11bdcb;
    }

    h1, .detail, .albumComment {
    /* Secondary foreground color for h1, details etc. (gray) */
        color: #EFE9D9;
    }

    h2, b, tr {
    /* Foreground color for h2, bold and tr. */
        color: #EFE9D9;
    }

    .headerSelected {
    /* Background color for selected header. */
        color: #EFE9D9;
        background-color: #402c31;
        border: 1px solid #EFE9D9;
    }

    .warning {
    /* Color for warning messages. */
        color: #990099;
    }

/*
 * Main frame menu images
 */

    .back {
        background-image: url("../icons/pinkpanther/back.png");
    }

    .forward {
        background-image: url("../icons/pinkpanther/forward.png");
    }

    .refresh {
        background-image: url("../icons/pinkpanther/refresh.png");
    }

    .download {
        background-image: url("../icons/pinkpanther/download.png");
    }

    .delete {
        background-image: url("../icons/pinkpanther/remove.png");
    }

    .up{
        background-image: url("../icons/pinkpanther/up.png");
    }

    .down {
        background-image: url("../icons/pinkpanther/down.png");
    }

    .addFromURI {
        background-image: url("../icons/pinkpanther/add.png");
    }

    .logfile {
        background-image: url("../icons/pinkpanther/log_small.png");
    }

/*
 * Player style
 */

    .solidblockmenu li a:hover, .solidblockmenu li .current {
    /* Player control hover style */
        background-color: #11bdcb;
    }

    .solidblockmenu select:hover {
    /* Player select hover style */
        background-color: #11bdcb;
    }