@charset "utf-8";
/* CSS Document */

#sortorder { color: #3b3b3b; }

a.playerstart {
    background-image:url("playermod/3b3b3b/player_start.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
    
a.playerstop {
    background-image:url("playermod/3b3b3b/player_stop.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
    
a.playerrewind {
    background-image:url("playermod/3b3b3b/player_rewind.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
    
a.playerforward {
    background-image:url("playermod/3b3b3b/player_forward.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
    
a.playerclear {
    background-image:url("playermod/3b3b3b/player_clear.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;
}
        
a.playershuffle {
    background-image:url("playermod/3b3b3b/player_shuffle.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
    
/*a.playerrepeaton {
    background-image:url("playermod/3b3b3b/player_repeaton.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}*/
    
a.playerrepeatoff {
    background-image:url("playermod/3b3b3b/player_repeatoff.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
    
a.playerundo {
    background-image:url("playermod/3b3b3b/player_undo.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
    
a.playersettings {
    background-image:url("playermod/3b3b3b/player_settings.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}

a.playerload {
    background-image:url("playermod/3b3b3b/player_load.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
    
a.playersave {
    background-image:url("playermod/3b3b3b/player_save.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
    
a.playersorttrack {
    background-image:url("playermod/3b3b3b/player_sorttrack.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}

a.playersortalbum {
    background-image:url("playermod/3b3b3b/player_sortalbum.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}

a.playersortartist {
    background-image:url("playermod/3b3b3b/player_sortartist.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
    
a.playerselectall {
    background-image:url("playermod/3b3b3b/player_selectall.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
    
a.playerselectnone {
    background-image:url("playermod/3b3b3b/player_selectnone.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
    
a.playerremove {
    background-image:url("playermod/3b3b3b/player_remove.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
        
a.playerappend {
    background-image:url("playermod/3b3b3b/player_append.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}
        
a.playerdownload {
    background-image:url("playermod/3b3b3b/player_download.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}

a.playershare{
    background-image:url("playermod/3b3b3b/player_share.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}