/*
 * CSS styleshet for the "Sandstorm" theme.
 *
 * Author: Sindre Mehus
 */
@import "default.css";
@import "accordion/humanity.css";
@import "playermod/bg/f5f5d0.css";

/*
 * Background colors
 */

    .bgcolor1 {
    /* Primary background color. (lightgray) */
        background-color: #F5F5D0
    }

    .bgcolor2, .ruleTableHeader, .log {
    /* Secondary background color. (darker blue) */
        background-color: #CCCC99
    }

/*
 * Miscellaneous style settings and helpers
 */

    body {

    /* Scrollbar colors (supported on IE and Opera) */
        scrollbar-face-color: #CCCC99;
        scrollbar-highlight-color: #F5F5D0;
        scrollbar-shadow-color: #CCCC99;
        scrollbar-3dlight-color: #CCCC99;
        scrollbar-arrow-color: #F5F5D0;
        scrollbar-track-color: #F5F5D0;
        scrollbar-darkshadow-color: #F5F5D0;
    }

    a:link, a:active, a:visited, a:link *, a:active *, a:visited * {
    /* Link color */
        color: #057368
    }

    a:hover, a:hover * {
    /* Link hover style */
        text-decoration: underline;
        color: #DD6900
    }