/*
 * CSS styleshet for the "Simplify" theme.
 *
 * Author: Thomas Bruce Dyrud (thomasbrucedyrud[at]gmail.com)
 *
 */
@import "default.css";
@import "accordion/darkness.css";
@import "playermod/fg/cccccc.css";
@import "playermod/bg/1b1b1b.css";

/*
 * Background colors
 */

    .bgcolor1 {
    /* Primary background color. (lightgray) */
        background-color: #1b1b1b;
    }

    .bgcolor2, .ruleTableHeader, .log {
    /* Secondary background color. (darker blue) */
        background-color: #1b1b1b;
        color: #FFFFFF;
    }

/*
 * Border settings for main frames
 */

    .mainframe {
    /* Main frame border style */
        background-color: #1b1b1b;
        background-position:right;
    }

/*
 * Miscellaneous style settings and helpers
 */

    body {
    /* Primary foreground (font) color. (black) */
        color: #FFFFFF;
        background-color: #DDDDDD;
    }

    a:link, a:active, a:visited, a:link *, a:active *, a:visited * {
    /* Link color */
        color: #FFFFFF;
    }

    a:hover, a:hover * {
    /* Link hover style */
        text-decoration: underline;
        color: #FFFFFF;
    }

    h1, .detail, .albumComment {
    /* Secondary foreground color for h1, details etc. (gray) */
        color: #FFFFFF;
    }

    h2, b, tr {
    /* Foreground color for h2, bold and tr. */
        color: #FFFFFF;
    }

    .headerSelected {
    /* Background color for selected header. */
        color: #FFFFFF;
        background-color: #1b1b1b;
        border: 1px solid #FFFFFF;
    }

    .warning {
    /* Color for warning messages. */
        color: #e7238b;
    }

/*
 * Main frame menu images
 */

    .back {
        background-image: url("../icons/simplify/back.png");
    }

    .forward {
        background-image: url("../icons/simplify/forward.png");
    }

    .refresh {
        background-image: url("../icons/simplify/refresh.png");
    }

    .download {
        background-image: url("../icons/simplify/download.png");
    }

    .delete {
        background-image: url("../icons/simplify/remove.png");
    }

    .up{
        background-image: url("../icons/simplify/up.png");
    }

    .down {
        background-image: url("../icons/simplify/down.png");
    }

    .addFromURI {
        background-image: url("../icons/simplify/add.png");
    }

    .logfile {
        background-image: url("../icons/simplify/log_small.png");
    }