/*
 * CSS styleshet for the "Slick" theme.
 *
 * Author: Jeebs (Fisher Evans)
 */
@import "default.css";
@import "accordion/dotluv.css";
@import "playermod/fg/1e3127.css";
@import "playermod/bg/ffffff.css";

/*
 * Background colors
 */

    .bgcolor1 {
    /* Primary background color. (lightgray) */
        background-color: #0e0e0e;
    }

    .bgcolor2, .ruleTableHeader, .log {
    /* Secondary background color. (darker blue) */
        background-color: #0e0e0e;
        background-image:url(../icons/slick/top_bg.jpg);
    }

/*
 * Border settings for main frames
 */

    /*
     * Border settings for other targets
     */

        .border1, .ruleTableHeader, .ruleTableCell, .headerSelected, .log {
        /* Simple dark border. */
            border: 1px solid #67778c;
        }

/*
 * Miscellaneous style settings and helpers
 */

    body {
    /* Primary foreground (font) color. (black) */
        color: #ccd5dc;

    /* Scrollbar colors (supported on IE and Opera) */
        scrollbar-face-color: #8eacc4;
        scrollbar-highlight-color: #67778c;
        scrollbar-shadow-color: #8eacc4;
        scrollbar-3dlight-color: #8eacc4;
        scrollbar-arrow-color: #67778c;
        scrollbar-track-color: #67778c;
        scrollbar-darkshadow-color: #67778c;
    }

    a:link, a:active, a:visited, a:link *, a:active *, a:visited * {
    /* Link color */
        color: #8a9aa7
    }

    a:hover, a:hover * {
    /* Link hover style */
        text-decoration: underline;
        color: #d2d9df;
    }

    h1, .detail, .albumComment {
    /* Secondary foreground color for h1, details etc. (gray) */
        color: #ccd5dc;
    }

    h2, b, tr {
    /* Foreground color for h2, bold and tr. */
        color: #ccd5dc;
    }

    .headerSelected {
    /* Background color for selected header. */
        color: #0e0e0e;
        background-color: #8eacc4;
    }

    .warning {
    /* Color for warning messages. */
        color: #ff4800;
    }

/*
 * Main frame menu images
 */

    .back {
        background-image: url("../icons/midnight/back.png");
    }

    .forward {
        background-image: url("../icons/midnight/forward.png");
    }

/*
 * Player style
 */

    .solidblockmenu li a:hover, .solidblockmenu li .current {
    /* Player control hover style */
        background-color: #8a9aa7;
    }

    .solidblockmenu select:hover {
    /* Player select hover style */
        background-color: #8a9aa7;
    }