/*
 * CSS styleshet for the "Sonic Blue" theme.
 *
 * Author: Thomas Bruce Dyrud (thomasbrucedyrud[at]gmail.com)
 *
 */

@import "sonic.css";
@import "playermod/fg/cccccc.css";
@import "playermod/bg/456993.css";

    .bgcolor1 {
    /* Primary background color. (lightgray) */
        background-color: #456993;
    }

    .bgcolor2, .ruleTableHeader, .log {
    /* Secondary background color. (darker blue) */
        background-color: #456993;
        color: #EFE9D9;
    }
    
    .mainframe {
    /* Main frame border style */
        background-color: #456993;
    }

/*
 * Miscellaneous style settings and helpers
 */

    body {
    /* Primary foreground (font) color. (black) */
        color: #EFE9D9;
        background-color: #DDDDDD;
    }

    a:link, a:active, a:visited, a:link *, a:active *, a:visited * {
    /* Link color */
        color: #B6BEC2;
    }

    a:hover, a:hover * {
    /* Link hover style */
        color: #B6BEC2;
    }

    h1, .detail, .albumComment {
    /* Secondary foreground color for h1, details etc. (gray) */
        color: #EFE9D9;
    }

    h2, b, tr {
    /* Foreground color for h2, bold and tr. */
        color: #EFE9D9;
    }
 
    label , p{
    /* Label font size */
        color: #CCC;
    }

    .headerSelected {
    /* Background color for selected header. */
        color: #EFE9D9;
        background-color: #456993;
        border: 1px solid #EFE9D9;
    }

    .warning {
    /* Color for warning messages. */
        color: #990099;
    }

/*
 * Main frame menu images
 */

    .back {
        background-image: url("../icons/sonic_blue/back.png");
    }

    .forward {
        background-image: url("../icons/sonic_blue/forward.png");
    }

    .refresh {
        background-image: url("../icons/sonic_blue/refresh.png");
    }

    .download {
        background-image: url("../icons/sonic_blue/download.png");
    }

    .delete {
        background-image: url("../icons/sonic_blue/remove.png");
    }

    .up{
        background-image: url("../icons/sonic_blue/up.png");
    }

    .down {
        background-image: url("../icons/sonic_blue/down.png");
    }

    .addFromURI {
        background-image: url("../icons/sonic_blue/add.png");
    }

    .logfile {
        background-image: url("../icons/sonic_blue/log_small.png");
    }

/*
 * Player style
 */

    .solidblockmenu li a:hover, .solidblockmenu li .current {
    /* Player control hover style */
        background-color: #EFE9D9;
    }

    .solidblockmenu select:hover {
    /* Player select hover style */
        background-color: #EFE9D9;
    }