/*
 * CSS styleshet for the "Sonic" theme.
 *
 * Author: Thomas Bruce Dyrud (thomasbrucedyrud[at]gmail.com)
 *
 */
@import "default.css";
@import "accordion/smoothness.css";
@import "playermod/fg/696969.css";
@import "playermod/bg/e7e7e7.css";

    .bgcolor1 {
    /* Primary background color. (lightgray) */
        background-color: #e7e7e7;
    }

    .bgcolor2, .ruleTableHeader, .log {
    /* Secondary background color. (darker blue) */
        background-color: #e7e7e7;
        color: #696969;
    }
    
    .mainframe {
    /* Main frame border style */
        background-color: #e7e7e7;
    }

/*
 * Miscellaneous style settings and helpers
 */

    body {
    /* Primary foreground (font) color. (black) */
        color: #696969;
        background-color: #DDDDDD;
    }

    a:link, a:active, a:visited, a:link *, a:active *, a:visited * {
    /* Link color */
        color: #333333;
    }

    a:hover, a:hover * {
    /* Link hover style */
        text-decoration: underline;
        color: #696969;
    }

    h1, .detail, .albumComment {
    /* Secondary foreground color for h1, details etc. (gray) */
        color: #696969;
    }

    h2, b, tr {
    /* Foreground color for h2, bold and tr. */
        color: #696969;
    }
 
    label , p{
    /* Label font size */
        color: #696969;
    }

    .headerSelected {
    /* Background color for selected header. */
        color: #696969;
        background-color: #e7e7e7;
        border: 1px solid #696969;
    }

    .warning {
    /* Color for warning messages. */
        color: #e7238b;
    }

/*
 * Main frame menu images
 */

    .back {
        background-image: url("../icons/sonic/back.png");
    }

    .forward {
        background-image: url("../icons/sonic/forward.png");
    }

    .refresh {
        background-image: url("../icons/sonic/refresh.png");
    }

    .download {
        background-image: url("../icons/sonic/download.png");
    }

    .delete {
        background-image: url("../icons/sonic/remove.png");
    }

    .up{
        background-image: url("../icons/sonic/up.png");
    }

    .down {
        background-image: url("../icons/sonic/down.png");
    }

    .addFromURI {
        background-image: url("../icons/sonic/add.png");
    }

    .logfile {
        background-image: url("../icons/sonic/log_small.png");
    }

/*
 * Player style
 */

    .solidblockmenu li a:hover, .solidblockmenu li .current {
    /* Player control hover style */
        background-color: #f90;
    }

    .solidblockmenu select:hover {
    /* Player select hover style */
        background-color: #f90;
    }