/*
 * CSS styling tags below should not need 
 * modification so commenting is limited.
 * Everything is used for structuring and
 * helper or prototype purposes.
 */
 
/*
 * WARNING: DRAGONS AHEAD!
 */

    html, body {
        height: 100%;
    }

    body {
        overflow: hidden;
    }

    body, p, form, table, img, .dense {
        padding: 0;
    }

    body, h1, p, form, table, img, input, select, textarea, label, .borderless, .chatLogMessage {
        border: 0;
    }
    
    body, h1, h2, form, button, img, input, select, textarea, label, .dense {
        margin: 0;
    }

    img {
        vertical-align: middle;
    }

    table, form, label {
        line-height: 140%;
    }

    h1, h2, .dense, .detail, .nowrap, .warning {
        white-space: nowrap;
    }
    
    .collapse, .ruleTable {
        border-collapse: collapse;
    }

    h1, .chatLogMessage {
        padding: 0 0 0.2em 0;
    }

    *:focus {
        outline: none;
    }
    
    input, select, textarea, label {
        padding: 0.2em;
        background: none;
    }
    
    select {
        height: 2em;
        -webkit-appearance: button;
    }

    input {
        height: 1.6em;
    }
    
    marquee {
        width: 15em;
        display: block;
    }
    
/*
 * General Prototypes
 */

    .handcursor {
        cursor: pointer;
    }

    .scroll {
        overflow: auto;
    }

    .scroll-x {
        overflow-x: auto;
    }

    .scroll-y {
        overflow-y: auto;
    }

    .scroll-h {
        overflow: hidden
    }

    .fillframe {
        width: 100%;
        height: 100%;
    }

    .fillwidth {
        width: 100%;
    }

    .fillheight {
        height: 100%;
    }

    .left {
        float: left;
    }

    .right {
        float: right;
    }

    .center {
        margin: 0px auto;
    }
    
    .inline {
        display: inline-block;
    }
    
    .block {
        display: block;
    }

    .static {
        left: 0;
        top: 0;
        position: fixed;
        width: auto;
        height: auto;
        z-index:100;
    }

    .alignleft {
        text-align: left;
    }

    .alignright {
        text-align: right;
    }

    .aligncenter, .topimg {
        text-align: center;
    }

    .aligntop {
        vertical-align: top;
    }

    .alignbottom {
        vertical-align: bottom;
    }

    .vcenterouter {
        #position: relative;
        display: table;
        overflow: hidden;
        vertical-align: middle;
    }
        
    .vcenterinner {
        #top: 50%;
        #position: absolute;
        display: table-cell; 
        vertical-align: middle; 
    }

    .vcenter {
        #top: -50%;
        #position: relative;
    }
    
    .flip-horizontal {
        -moz-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: fliph; /*IE*/
        -ms-filter: fliph;
    }

    .flip-vertical {
        -moz-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: flipv; /*IE*/
        -ms-filter: flipv;
    }
    
    .iconInput .ui-icon, .iconSelect .ui-icon, .iconFile .ui-icon {
        vertical-align:middle;
        cursor:pointer;
    }

    .plainFile, .iconFile {
        width: 300px;
        height: 23px;
    }

    .current {
        padding: 0 0.3em;
    }

    .back {
        padding-right: 16px;
        background-position: center right;
    }

    .forward {
        padding-left: 16px;
        background-position: center left;
    }

    .detail {
        line-height: 1.25em;
    }

    .headerSelected {
        padding: 0.4em;
    }

    .dense {
        line-height: 1.3em
    }
    
    .indent {
        margin-left: 0.5em;
    }

    .bold, .ruleTableHeader {
        font-weight: bold;
    }

    .back .ui-icon, .forward .ui-icon, .refresh .ui-icon, .download .ui-icon 
        .delete .ui-icon, .up .ui-icon, .down .ui-icon, .addFromURI .ui-icon, .logfile .ui-icon {
        background-position: center center;
        background-repeat: no-repeat;
    }

    .back, .forward, .current, .mainframemenuitem {
        line-height: 16px;
    }
    
    .mainframemenuitem {
        padding: 0px 16px 0px 16px;
        background-position: center left;
    }

    /*
     * Simple table structure
     */

        .ruleTableHeader, .ruleTableCell {
            margin: 0.5em;
            padding: 0.5em;
        }

/*
 * Targeted structure
 */
 
    /*
     * Shared structure
     */
        
        #mainframecontentcontainer {
            overflow-y: auto;
        }
        
        #accordioncontainer {
            overflow-x: hidden;
        }
        

        .mainmenudropdown {
            position: absolute;
            top: 35px;
            padding: 0.5em 0;
            z-index: 1;
        }
        
        #searchFormQuery {
            width: 275px;
        }

        #longbar {
            height: 5px;
            margin: 5px 0px 5px 0px;
            background-position: left;
            background-repeat: repeat-x;
        }

    /*
     * Login frame structure
     */
     
        #loginframeformcontainer input, .captcha {
            width: 16em;
        }
    
        #loginframelogonform {
            padding: 20px 0px;
        }
    
        #loginframeregistrationform, #loginframeforgotpassform {
            padding-bottom: 20px;
        }
        
        #loginframeformcontainer {
            padding-bottom: 300px;
        }

    /*
     * Top frame structure
     */
     
        .topimgcontainer {
            padding: 1em;
        }
        .topframe {
            margin-top: -1px;
        }

        #topframelogocontainer {
            width: 240px;
            padding-left: 5px
        }
        
        #topframelogoutcontainer {
            width: 240px;
            padding-right: 5px;
        }

        /*
         * Top frame menu structure
         */


    /*
     * Left frame structure
     */

        #leftframemenucontainer {
            height: 5%;
        }

        #musicFolderId {
            width: 220px;
        }
        
        #accordioncontainer {
            height: 95%;
        }
        
        #accordion {
            padding-bottom: 1em;
        }
    
    /*
     * Main frame structure
     */

        #mainframemenucontainer {
            height: 6.7%;
        }

        #mainframecontentcontainer {
            height: 93.3%;
        }
        
        #mainframecontentalbumdetail {
            padding: 0.5em;
        }

        .albumComment {
            width: 575px;
            line-height: 1.4em;
            padding-top: 0.25em;
        }

        .formattingOptions {
            width: 40em;
            padding: 0.5em;
            margin-top: 0.5em;
        }

        .fade, #mainframecontentheader, #mainframemenucontainer, #welcomemessage, #trackcontainer, #adcontainer, #searchlinks, #podcastcontainer { visibility:hidden; }

        /*
         * Main frame menu paginated item layout
         */

            .pagination {
            }

            .baseDirectory, .baseDirectoryMarquee,
            .baseAlbum, .baseAlbumMarquee,
            .singleAlbum, .singleAlbumMarquee,
            .doubleAlbumLeft, .doubleAlbumLeftMarquee,
            .doubleAlbumRight, .doubleAlbumRightMarquee,
            .multipleAlbum, .multipleAlbumMarquee                { text-align: center; min-width: 15em; }
            
        /*
         * Home page structure
         */

            #welcomemessage {
                width: 20em;
                padding: 0 1em;
            }
            
        /*
         * Edit Tags page structure
         */

        /*
         * Change cover art page structure
         */
            
        /*
         * Logfile page structure
         */

            .log {
                white-space: nowrap;
                line-height: 1em;
            }
            
        /*
         * More page structure
         */

            #randomplaylistgenerator legend {
                padding: 0.4em 0.9em;
            }
            
        /*
         * Settings pages structure
         */

        /*
         * Database Query page structure
         */

            #runSQLQuery {
                height: 24px;
                width: 150px;
            }

        /*
         * Video player structure
         */

            #timeOffset, #maxBitRate {
                max-width: 10em;
            }

            #timeOffset {
                padding-left:0.25em;
                padding-right:0.25em;
                margin-right:0.5em
            }

    /*
     * Playlist structure
     */
     
        #playlistframemenucontainer {
            height: 15%;
        }
        #playlistframemenu, #playlistframemenuadvancedcontainer, #playlistframemenucontrolscontainer {
            padding: 0.2em;
        }
        
        #player1 { position: relative}
        
        #playlistcontainer {
            height: 85%;
        }

        .solidblockmenu-outer, .solidblockmenu {
            height: 24px;
            overflow: hidden;
        }

        .solidblockmenu {
            margin: 0px;
            padding: 0px;
            list-style: none;
            position: relative;
        }

        .solidblockmenu li {
            width: auto;
            float: right;
            overflow: hidden;
        }

        .solidblockmenu a   {
            height: 16px;
            width: 16px;
            padding: 4px;
            display: block;
            text-indent: -9999px;
        }

        .solidblockmenu select:hover {
            background-image: none;
        }

        .solidblockmenu li a:visited {
        }

        .playerleftround, .playerrightround {
            height: 24px;
            width: 13px;
            background-repeat: no-repeat; 
        }

        .playerleftround {
            background-position: right;
        }

        .playerrightround {
            background-position: left;
        }

    /*
     * Right frame structure
     */
     
        #right {
            min-width: 230px;
        }

        #rightframemenucontainer {
            height: 5%;
        }
         
        .rightframespacebar {
            height: 10px;
        }

        .lyricslink {
            margin: 5px auto auto 10px;
        }

        #calendar {
            padding: 0.5em 0;
        }
        
        #chatmessageform .iconInput {
            margin: 0px auto;
        }
        #chatContainer input {
            width: 16em;
        }

/*
 * jQuery Overrides
 */
 
    .ui-tooltip {
        position: absolute !important;
        padding: 8px !important;
    }
    
    .ui-buttonset {
        margin-right: 5px !important;
    }
    
    .ui-slider .ui-slider-handle {
        height: 6px !important;
        width: 4px !important;
    }
    
    .ui-datepicker, .ui-datepicker .ui-datepicker-title select {
        display: inline-block !important;
        font-size: .9em !important;
    }
    
    .ui-datepicker .ui-datepicker-title select {
        text-align: center !important;
        -webkit-appearance: menulist !important;
    }

    .playerrepeaton {
        border: none !important;
        background: none !important;
    }
    
    #topframelogoutcontainer .ui-button .ui-button-text {
        padding: 0.2em 2.1em 0.2em 1em !important;
    }

    #playlistframemenuadvancedright .ui-button-text-only .ui-button-text {
        padding: .2em .5em !important;
    }